Repository fredericlb/BespokeSynth-Sharing-Webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: cd bespoke-patches-server && eslint --fix, cd bespoke-patches-client && eslint --fix

.lintstagedrc.json:

{
    "bespoke-patches-server/**/*.{js,jsx,ts,tsx}": "cd bespoke-patches-server && eslint --fix",
    "bespoke-patches-client/**/*.{js,jsx,ts,tsx}": "cd bespoke-patches-client && eslint --fix"
}

fix: global empty tsconfig
  .gitignore
  bespoke-patches-client/tsconfig.json
  bespoke-patches-server/tsconfig.json
  tsconfig.json
Due: none

feat: sqlite connection
  .gitignore
  bespoke-patches-server/ormconfig.json
  bespoke-patches-server/package-lock.json
  bespoke-patches-server/package.json
  bespoke-patches-server/src/app.module.ts
Due: cd bespoke-patches-server && eslint --fix

feat: (wip) beginning patches upload implementation
  bespoke-patches-server/.env
  bespoke-patches-server/package-lock.json
  bespoke-patches-server/package.json
  bespoke-patches-server/src/app.module.ts
  bespoke-patches-server/src/graphql.ts
  bespoke-patches-server/src/main.ts
  bespoke-patches-server/src/patches/patches.graphql
  bespoke-patches-server/src/patches/patches.resolver.spec.ts
  bespoke-patches-server/src/patches/patches.resolver.ts
  bespoke-patches-server/src/patches/patches.service.spec.ts
  bespoke-patches-server/src/patches/patches.service.ts
Due: cd bespoke-patches-server && eslint --fix

feat: use code first graphql implement
  bespoke-patches-server/package-lock.json
  bespoke-patches-server/package.json
  bespoke-patches-server/src/app.module.ts
  bespoke-patches-server/src/graphql.ts
  bespoke-patches-server/src/main.ts
  bespoke-patches-server/src/patches/patch.model.ts
  bespoke-patches-server/src/patches/patches.graphql
  bespoke-patches-server/src/patches/patches.resolver.ts
  bespoke-patches-server/src/patches/patches.service.ts
  bespoke-patches-server/src/patches/upload-patch.input.ts
  bespoke-patches-server/src/schema.gql
Due: cd bespoke-patches-server && eslint --fix

feat: basic save and list patches
  bespoke-patches-server/ormconfig.json
  bespoke-patches-server/package.json
  bespoke-patches-server/src/app.module.ts
  bespoke-patches-server/src/app.service.ts
  bespoke-patches-server/src/graphql.ts
  bespoke-patches-server/src/patches/patch.model.ts
  bespoke-patches-server/src/patches/patches.resolver.ts
  bespoke-patches-server/src/patches/patches.service.ts
  bespoke-patches-server/src/patches/upload-patch.input.ts
  bespoke-patches-server/src/schema.gql
Due: cd bespoke-patches-server && eslint --fix

feat: search filtering
  bespoke-patches-server/src/patches/patches.service.ts
Due: cd bespoke-patches-server && eslint --fix

feat: actiontoken and mail logic
  .gitignore
  bespoke-patches-server/package-lock.json
  bespoke-patches-server/package.json
  bespoke-patches-server/src/action-token/action-token.model.ts
  bespoke-patches-server/src/action-token/action-token.resolver.spec.ts
  bespoke-patches-server/src/action-token/action-token.resolver.ts
  bespoke-patches-server/src/action-token/action-token.service.spec.ts
  bespoke-patches-server/src/action-token/action-token.service.ts
  bespoke-patches-server/src/app.module.ts
  bespoke-patches-server/src/mail/mail.module.ts
  bespoke-patches-server/src/mail/mail.service.spec.ts
  bespoke-patches-server/src/mail/mail.service.ts
  bespoke-patches-server/src/patches/patches.resolver.ts
  bespoke-patches-server/src/schema.gql
Due: cd bespoke-patches-server && eslint --fix

feat: full patch lifecycle and graphql api
  .gitignore
  bespoke-patches-server/.env
  bespoke-patches-server/nest-cli.json
  bespoke-patches-server/package-lock.json
  bespoke-patches-server/package.json
  bespoke-patches-server/src/action-token/action-token.model.ts
  bespoke-patches-server/src/action-token/action-token.resolver.ts
  bespoke-patches-server/src/action-token/action-token.service.ts
  bespoke-patches-server/src/app.module.ts
  bespoke-patches-server/src/mail/mail.module.ts
  bespoke-patches-server/src/mail/mail.service.ts
  bespoke-patches-server/src/mail/templates/sendActionToken.hbs
  bespoke-patches-server/src/mail/templates/uploadPatchAdmin.hbs
  bespoke-patches-server/src/mail/templates/uploadPatchApproved.hbs
  bespoke-patches-server/src/mail/templates/uploadPatchRejected.hbs
  bespoke-patches-server/src/mail/templates/uploadPatchUser.hbs
  bespoke-patches-server/src/patches/patch.model.ts
  bespoke-patches-server/src/patches/patches.resolver.ts
  bespoke-patches-server/src/patches/patches.service.ts
  bespoke-patches-server/src/schema.gql
Due: cd bespoke-patches-server && eslint --fix

feat: (wip) file uploads
  bespoke-patches-server/package-lock.json
  bespoke-patches-server/package.json
  bespoke-patches-server/src/app.module.ts
  bespoke-patches-server/src/patches/upload-patch.input.ts
  bespoke-patches-server/src/schema.gql
Due: cd bespoke-patches-server && eslint --fix

feat: file uploads and bsk reading
  bespoke-patches-server/scripts/create_manifest.py
  bespoke-patches-server/src/app.module.ts
  bespoke-patches-server/src/patches/patches.resolver.ts
  bespoke-patches-server/src/patches/patches.service.ts
  bespoke-patches-server/src/patches/upload-patch.input.ts
  bespoke-patches-server/src/schema.gql
Due: cd bespoke-patches-server && eslint --fix

feat: client side graphql and working upload form
  bespoke-patches-client/index.html
  bespoke-patches-client/package-lock.json
  bespoke-patches-client/package.json
  bespoke-patches-client/public/index.html
  bespoke-patches-client/src/App.tsx
  bespoke-patches-client/src/config.ts
  bespoke-patches-client/src/gql/createActionToken.gql
  bespoke-patches-client/src/i18n/en.js
  bespoke-patches-client/src/index.tsx
  bespoke-patches-client/src/pages/TokenActivation.tsx
  bespoke-patches-client/src/pages/Upload.tsx
  bespoke-patches-client/tsconfig.json
  bespoke-patches-client/vite.config.js
  bespoke-patches-server/package-lock.json
  bespoke-patches-server/package.json
  bespoke-patches-server/src/action-token/action-token.service.ts
  bespoke-patches-server/src/app.module.ts
  bespoke-patches-server/src/main.ts
Due: cd bespoke-patches-server && eslint --fix, cd bespoke-patches-client && eslint --fix

feat: all graphql client side implementations
  bespoke-patches-client/package-lock.json
  bespoke-patches-client/package.json
  bespoke-patches-client/src/App.tsx
  bespoke-patches-client/src/components/PatchItem.tsx
  bespoke-patches-client/src/components/PatchList.tsx
  bespoke-patches-client/src/hooks/patch.types.ts
  bespoke-patches-client/src/hooks/useData.ts
  bespoke-patches-client/src/pages/Patch.tsx
  bespoke-patches-server/src/patches/patch.model.ts
  bespoke-patches-server/src/patches/patches.service.ts
Due: cd bespoke-patches-server && eslint --fix, cd bespoke-patches-client && eslint --fix

feat: dynamic tags list
  bespoke-patches-client/src/hooks/useData.ts
  bespoke-patches-server/src/patches/patches.resolver.ts
  bespoke-patches-server/src/patches/patches.service.ts
  bespoke-patches-server/src/schema.gql
Due: cd bespoke-patches-server && eslint --fix, cd bespoke-patches-client && eslint --fix

feat: patch moderation
  bespoke-patches-client/src/hooks/patch.types.ts
  bespoke-patches-client/src/pages/Patch.tsx
  bespoke-patches-server/src/mail/mail.service.ts
  bespoke-patches-server/src/patches/patch.model.ts
  bespoke-patches-server/src/patches/patches.resolver.ts
  bespoke-patches-server/src/patches/patches.service.ts
  bespoke-patches-server/src/schema.gql
Due: cd bespoke-patches-server && eslint --fix, cd bespoke-patches-client && eslint --fix

fix: media path
  bespoke-patches-client/src/pages/Patch.tsx
  bespoke-patches-client/vite.config.js
  bespoke-patches-server/src/patches/patches.resolver.ts
Due: cd bespoke-patches-server && eslint --fix, cd bespoke-patches-client && eslint --fix

fix: removed useless dagre dependency
  bespoke-patches-client/src/components/BSKViz.tsx
Due: cd bespoke-patches-client && eslint --fix

fix: don't store path in db
  bespoke-patches-server/src/patches/patch.model.ts
  bespoke-patches-server/src/patches/patches.resolver.ts
Due: cd bespoke-patches-server && eslint --fix

build: serve client from server
  .gitignore
  bespoke-patches-server/package-lock.json
  bespoke-patches-server/package.json
  bespoke-patches-server/public/.gitkeep
  bespoke-patches-server/src/app.controller.ts
  bespoke-patches-server/src/app.module.ts
  build.sh
Due: cd bespoke-patches-server && eslint --fix

fix: upload form could not be used after error
  bespoke-patches-client/src/pages/Upload.tsx
Due: cd bespoke-patches-client && eslint --fix

feat: umami
  bespoke-patches-client/package-lock.json
  bespoke-patches-client/package.json
  bespoke-patches-client/src/App.tsx
  bespoke-patches-client/src/env.d.ts
  bespoke-patches-client/src/global.d.ts
  bespoke-patches-client/src/pages/Home.tsx
  bespoke-patches-client/src/pages/Patch.tsx
  bespoke-patches-client/src/pages/TokenActivation.tsx
Due: cd bespoke-patches-client && eslint --fix

fix: texts update
  Dockerfile
  bespoke-patches-client/src/components/AboutContent.tsx
  bespoke-patches-client/src/components/Footer.tsx
  bespoke-patches-client/src/components/Header.tsx
  bespoke-patches-client/src/i18n/en.js
Due: cd bespoke-patches-client && eslint --fix

fix: multiple post release fixes
  bespoke-patches-client/src/pages/Upload.tsx
  bespoke-patches-server/scripts/create_manifest.py
  bespoke-patches-server/src/app.module.ts
  bespoke-patches-server/src/patches/patch.model.ts
  bespoke-patches-server/src/patches/patches.resolver.ts
Due: cd bespoke-patches-server && eslint --fix, cd bespoke-patches-client && eslint --fix

feat: docker & docker-compose
  .gitignore
  Dockerfile
  docker-compose.example.yml
Due: none

docs: readme update
  README.md
Due: none

chore: version bump 0.9.9
  bespoke-patches-client/package-lock.json
  bespoke-patches-client/package.json
  bespoke-patches-server/package-lock.json
  bespoke-patches-server/package.json
  package.json
Due: none

feat: rest api + swagger, pagination
  README.md
  bespoke-patches-client/src/components/Footer.tsx
  bespoke-patches-client/src/components/PatchList.tsx
  bespoke-patches-client/src/hooks/useData.ts
  bespoke-patches-server/package-lock.json
  bespoke-patches-server/package.json
  bespoke-patches-server/src/action-token/action-token.resolver.ts
  bespoke-patches-server/src/app.module.ts
  bespoke-patches-server/src/app.service.ts
  bespoke-patches-server/src/patches/patches.resolver.ts
  bespoke-patches-server/src/patches/patches.service.ts
  bespoke-patches-server/src/schema.gql
Due: cd bespoke-patches-server && eslint --fix, cd bespoke-patches-client && eslint --fix

feat: support pfb and version field
  bespoke-patches-client/src/components/Attachments.tsx
  bespoke-patches-client/src/hooks/patch.types.ts
  bespoke-patches-client/src/i18n/en.js
  bespoke-patches-client/src/pages/Upload.tsx
  bespoke-patches-server/src/patches/patch.model.ts
  bespoke-patches-server/src/patches/patches.resolver.ts
  bespoke-patches-server/src/patches/upload-patch.input.ts
  bespoke-patches-server/src/schema.gql
  bespokeVersions.json
Due: cd bespoke-patches-server && eslint --fix, cd bespoke-patches-client && eslint --fix

feat: improved DISABLE_ACTION_TOKEN for dev
  bespoke-patches-server/src/action-token/action-token.resolver.ts
  bespoke-patches-server/src/action-token/action-token.service.ts
Due: cd bespoke-patches-server && eslint --fix

feat: type in search
  bespoke-patches-client/src/components/Header.tsx
Due: cd bespoke-patches-client && eslint --fix

fix: don't show back button when not coming from search
  bespoke-patches-client/src/components/PatchItem.tsx
  bespoke-patches-client/src/pages/Patch.tsx
Due: cd bespoke-patches-client && eslint --fix

feat: show version
  bespoke-patches-client/src/components/PatchItem.tsx
  bespoke-patches-client/src/hooks/patch.types.ts
  bespoke-patches-client/src/hooks/useData.ts
  bespoke-patches-client/src/i18n/en.js
  bespoke-patches-client/src/pages/Patch.tsx
Due: cd bespoke-patches-client && eslint --fix

feat: performance/bundle size improvement
  bespoke-patches-client/src/App.tsx
  bespoke-patches-client/src/components/ScriptsModal.tsx
  bespoke-patches-client/src/components/SyntaxHighlighter.tsx
  bespoke-patches-client/src/components/TextModal.tsx
  bespoke-patches-client/src/pages/Patch.tsx
  bespoke-patches-client/vite.config.js
  bespoke-patches-server/package-lock.json
  bespoke-patches-server/package.json
  bespoke-patches-server/src/app.module.ts
  bespoke-patches-server/src/main.ts
  build.sh
Due: cd bespoke-patches-server && eslint --fix, cd bespoke-patches-client && eslint --fix

fix: bad build.sh
  build.sh
Due: none

chore: removed useless deps
  bespoke-patches-client/package.json
Due: none

fix: support for rev 422 (1.1.x)
  bespoke-patches-server/scripts/create_manifest.py
Due: none

fix(syntax-highlighter): load language
  bespoke-patches-client/src/components/SyntaxHighlighter.tsx
Due: cd bespoke-patches-client && eslint --fix

feat: image attachments
  bespoke-patches-client/src/components/Attachments.tsx
  bespoke-patches-client/src/components/PatchItem.tsx
  bespoke-patches-client/src/hooks/patch.types.ts
  bespoke-patches-client/src/hooks/useData.ts
  bespoke-patches-client/src/i18n/en.js
  bespoke-patches-client/src/pages/Patch.tsx
  bespoke-patches-server/package-lock.json
  bespoke-patches-server/package.json
  bespoke-patches-server/src/app.module.ts
  bespoke-patches-server/src/patches/patch.model.ts
  bespoke-patches-server/src/patches/patches.resolver.ts
  bespoke-patches-server/src/schema.gql
Due: cd bespoke-patches-server && eslint --fix, cd bespoke-patches-client && eslint --fix

feat: direct private share
  bespoke-patches-client/src/i18n/en.js
  bespoke-patches-client/src/pages/Upload.tsx
  bespoke-patches-server/src/mail/mail.service.ts
  bespoke-patches-server/src/mail/templates/uploadPatchUser.hbs
  bespoke-patches-server/src/patches/patches.service.ts
Due: cd bespoke-patches-server && eslint --fix, cd bespoke-patches-client && eslint --fix

fix: modal width
  bespoke-patches-client/src/theme/modal.ts
Due: cd bespoke-patches-client && eslint --fix

fix: remove unused file
  bespoke-patches-client/src/theme/select.ts
Due: cd bespoke-patches-client && eslint --fix
